.container {
  display: flex;
  flex-direction: column;
}

.poster_img_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1%;
}

.poster_img_wrap img {
  width: 100%;
  margin-bottom: 5px;
}

.recommend_section .poster_img_wrap a {
  width: 32.5%;
}

.all_movie_section .poster_img_wrap a {
  width: 19%;
}
