.container {
  max-width: 800px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1%;
}
.container a {
  display: block;
  width: 32.5%;
  margin-bottom: 5px;
}

.container a > img {
  width: 100%;
}
