.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 60px;
}
.header > a {
  font-size: 20px;
  line-height: 60px;
  color: rgb(229, 9, 20);
  text-decoration: none;
  font-weight: bold;
}
